*{
	margin: 0;
}

header{
	height: 100vh;
	background-image: url(../img/sfbridge.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	margin-bottom: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p{
	max-width: 600px;
	margin: 0 auto 20px;
	line-height: 1.5;
	font-family: tahoma;
}

#landing{
	font-size: 28px;
	font-family: Vollkorn;
	border: 8px solid hsl(40, 100%, 40%);
	padding: 15px 150px;
	color: hsl(40, 100%, 40%);
}

#navigation{
	width: 550px;
	height: 35px;
	font-size: 24px;
	text-align: center;
	font-family: Vollkorn;
	font-weight: bold;
}

#navigation ul{
	height: auto;
	padding: 8px 0px;
	margin: 0px;
}

#navigation li{
	display: inline;
	padding: 20px;
}

#navigation a{
	text-decoration: none;
	color: hsl(40, 100%, 40%);
	padding: 8px 8px 8px 8px;

}

#navigation a:hover{
	color: hsl(190, 100%, 80%)
}

#foot{
	background-color: #f2f2f2;
	overflow: auto;
}

#lorem1{
	float: left;
    width: 23%;
    padding-left: 70px;
    padding-top: 30px;
	line-height: 1.5;
}

h3{
	font-weight: bold;
	font-size: 20px;
	font-family: Vollkorn;
}

#lorem2{
	float: right;
	width: 23%;
	padding-left: 70px;
	padding-top: 30px;
	line-height: 1.5;
}

#lorem3{
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	line-height: 1.5;
}

#line{
	opacity: 0.2;
}

hr{
	opacity: 0.5;
	clear: both;
}

#copyright{
	text-align: center;
	opacity: 0.5;
	width: auto;
	clear: both;
}